<RadSideDrawer [transition]="drawerTransition">
  <StackLayout tkDrawerContent class="sidedrawer-left">
    <GridLayout columns="*" rows="auto, *">
      <StackLayout class="header">
        <Image class="m-20" src="res://apple"></Image>
        <Ripple (tap)="navigateTo('/event')">
          <GridLayout columns="*,auto">
            <Label text="{{ (event$ | async)?.title }}"></Label>
            <StackLayout col="1" verticalAlignment="center">
              <Icon icon="chevron-right" size="20" color="white"></Icon>
            </StackLayout>
          </GridLayout>
        </Ripple>
      </StackLayout>
      <ScrollView row="1">
        <StackLayout class="sidedrawer-content">
          <Ripple (tap)="navigateTo('/dashboard')">
            <GridLayout class="menu-item" rows="auto" columns="auto, *">
              <Icon icon="home" size="30" color="#686464"></Icon>
              <Label col="1" class="sidedrawer-list-item-text" text="Início"></Label>
            </GridLayout>
          </Ripple>

          <Ripple (tap)="logout()">
            <GridLayout row="1" class="menu-item" rows="auto" columns="auto, *">
              <Icon icon="logout" size="30" color="red"></Icon>
              <Label col="1" class="sidedrawer-list-item-text" text="Sair"></Label>
            </GridLayout>
          </Ripple>
        </StackLayout>
      </ScrollView>
    </GridLayout>
  </StackLayout>
  <StackLayout tkMainContent>
    <ng-content></ng-content>
  </StackLayout>
</RadSideDrawer>